@using Tarea_7___API_Rest.Models  
@model IEnumerable<Medicamento>

@{
    ViewData["Title"] = "Listado de Medicamentos";
}

<h3>Listado de Medicamentos</h3>

<hr />

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}

@if (Model.Any())
{
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Laboratorio</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Medicamento med in Model)
            {
                <tr>
                    <td>@med.Id</td>
                    <td>@med.Nombre</td>
                    <td>@med.Laboratorio</td>
                    <td>$ @med.Precio.ToString("0.00")</td>
                    <td>@med.Stock unidades</td>
                </tr>
            }
        </tbody>
    </table>
}
else if (ViewData["ErrorMessage"] == null)
{
    <p>No se encontraron medicamentos.</p>
}